body{
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 10px gray;
}

h2{
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

a{
    display: block;
    text-align: center;
    margin-top: 10px;
}